<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    

  </appSettings>
  <system.webServer>
    <!-- mimeMap enables IIS to serve particular file types as specified by fileExtension. -->
    <staticContent>
      <mimeMap fileExtension=".html" mimeType="text/html" />
       <mimeMap fileExtension=".php" mimeType="text/php" />
    </staticContent>
    
    
     <rewrite>  
                <rules>
                    <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
                         <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
                    </rule>
    
    
                    <rule name="StaticContent">
                         <action type="Rewrite" url="{REQUEST_URI}"/>
                    </rule>
    

           </rules>  
      </rewrite>  
    
     <defaultDocument>
    <files>
      <clear />
      <add value="index.php" />
    </files>
  </defaultDocument>
  
      <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
      <httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
      <add name="Access-Control-Allow-Headers" value="Content-Type" />
      <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
    </customHeaders>
  </httpProtocol>
    <httpErrors existingResponse="PassThrough" />
  
  </system.webServer>
  
</configuration>